<h1><%= @data[:firstname] %>, Your lot <%= @data[:title] %> is closed.</h1>
<p>
  <% if @data[:bids_present] %>
    Max proposed price: <%= @data[:current_price] %>
  <% else %>
    Unfortunately, there are no bids on your lot.
  <% end %>
</p>
